.govuk-\!-width-two-thirds {
  width: 100% !important;
}

@media (min-width: 40.0625em) {
  .govuk-\!-width-two-thirds {
    width: 66.66% !important;
  }
}

.govuk-inset-text {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-left: 10px solid #bfc1c3;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

@media (min-width: 40.0625em) {
  .govuk-inset-text {
    margin-bottom: 30px;
    margin-top: 30px;

    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}


.govuk-grid-column-one-half {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 40.0625em) {
  .govuk-grid-column-one-half {
    width: 50%;
    float: left;
  }
}


@media (min-width: 40.0625em) {
  .govuk-\!-width-two-thirds {
    width: 66.66% !important;
  }
}

.govuk-back-link {
  margin-bottom: 50px;
}


.govuk-button--secondary, .govuk-button--secondary:link, .govuk-button--secondary:visited, .govuk-button--secondary:active, .govuk-button--secondary:hover {
  color: #0b0c0c;
}

.govuk-button--secondary {
  background-color: #dee0e2;
  -webkit-box-shadow: 0 2px 0 #858688;
  box-shadow: 0 2px 0 #858688;
}

.govuk-button--secondary:hover, .govuk-button--secondary:focus {
  background-color: #c8cacb;
}

.govuk-heading-xl {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .govuk-heading-xl {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.04167;
  }
}

.govuk-heading-m {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-heading-m {
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.govuk-heading-s {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-heading-s {
    margin-bottom: 20px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

.govuk-hint {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #6f777b;
  }

@media (min-width: 40.0625em) {
  .govuk-hint {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

.govuk-phase-banner__content__tag {
  margin-right: 10px;
}

@media (min-width: 40.0625em) {
  .govuk-tag {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.govuk-tag {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
  display: inline-block;
  padding: 4px 8px;
  padding-bottom: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #ffffff;
  background-color: #005ea5;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 40.0625em) {
  .govuk-\!-margin-bottom-2 {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 641px) {
  ul li, nav ul li {
    font-size: 19px;
    line-height: 1.31579;
  }
}


.govuk-body-l, .govuk-body-lead {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin-top: 0;
    margin-bottom: 20px;
}

@media (min-width: 40.0625em){
    .govuk-body-l, .govuk-body-lead {
        margin-bottom: 30px;
    }
}

@media (min-width: 40.0625em){
    .govuk-body-l, .govuk-body-lead {
        font-size: 24px;
        line-height: 1.25;
    }
}

.govuk-body-m + .govuk-heading-l, .govuk-body + .govuk-heading-l, p + .govuk-heading-l, .govuk-body-s + .govuk-heading-l, .govuk-list + .govuk-heading-l {
    padding-top: 15px;
}

.govuk-heading-l {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}


@media (min-width: 40.0625em){
    .govuk-heading-l {
        margin-bottom: 30px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-l {
        font-size: 36px;
        line-height: 1.11111;
    }
}


.govuk-heading-s {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em){
    .govuk-heading-s {
        margin-bottom: 20px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-s {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.govuk-heading-m {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em){
    .govuk-heading-m {
        margin-bottom: 20px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-m {
        font-size: 24px;
        line-height: 1.25;
    }
}





