.phase-banner-low .beta-banner {
    border-bottom: none;
    margin-top: 30px;
    clear: left;
    padding-bottom: 30px;
}

@media (min-width: 769px){
    #content {
        padding-bottom: 0;
    }
}
