$govuk-assets-path: "/agent-services-account/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/agent-services-account/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import 'modules/_banner';

hr.hr-thick {
  height: 5px;
  background: #0b0c0c;
}

.service-info {
  display: block;
  position: relative;
  z-index: 997;
  overflow: hidden;
  padding-bottom: 0.5em;
}

.account-menu__link:visited {
  color: #4A4A4A;
}

.centered-content {
  font-family: "nta",Arial,sans-serif;
  font-weight: 400;
  text-transform: none;
}

.account-menu__link--home {
  float: left;
  padding: 12px 18px 8px 0;
}

.account-menu__link {
  border-bottom: 4px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  padding: 12px 16px 8px;
  text-transform: none;
  text-decoration: none;

  &:visited {
    color: #4A4A4A;
  }

  &:hover,
  &:focus {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    color: #2B8CC4;
  }

  &:hover {
    border-bottom-color: #DEE0E2;
  }

  &:focus {
    background-color: transparent;
    border-bottom-color: #2B8CC4;
  }
}

.account-icon--home {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
  background-position: left -1px;
  background-size: 19px;
  padding-left: 22px;
}

.account-icon {
  background-repeat: no-repeat;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px 0 0;
}

.account-menu {
  background-color: #fff;
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 0;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.govuk-phase-banner {
  border-bottom: none;
}
