@import 'modules/_banner';

hr.hr-thick {
  height: 5px;
  background: #0b0c0c;
}

// overrides phase banner for ASA
.govuk-phase-banner {
  border-bottom: none;
}

// overrides hmrc-header css language toggle focus styles
.hmrc-language-select {
  .govuk-list {
    a {
      &:focus {
            color: govuk-colour("black") !important;
            background-color: govuk-colour("yellow")
      }
    }
  }

  text-decoration: none;
}

.hmrc-account-menu__link.selected {
  border-bottom: 4px solid #003078;
}
