ul#client-auth-links{
  a{
    display: inline-block;
    margin-bottom: 4px;
  }
}
.mid-grey {
  color: #505a5f;
}

hr.hr-thick {
  height: 5px;
  background: #0b0c0c;
}

.hmrc-account-menu__link.selected {
  border-bottom: 4px solid #003078;
}

@import "modules/accessible-autocomplete";
