@import uk.gov.hmrc.play.views.html.layouts
@import play.api.Configuration
@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit messages: Messages, request : Request[_], configuration: Configuration)

@serviceInfoContent = {}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}

@govuk_wrapper(title,
               mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = mainContent,
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem)
